.achievement-box
{
    background-color: lightcoral;
    width: 400px;
    height: 100px;
    margin-left: 575px;
    margin-bottom: 300px;
}

.achievement-image
{
    margin-left: 350px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: gray;
    width: fit-content;
}

.achievement-complete
{
    margin-left: 350px;
}